@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	box-sizing: border-box;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	color: #fff;
}

.header {
	background: #000;
	background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%) no-repeat;
	padding-top: 50px;
}

.container {
	max-width: 936px;
	margin: 0 auto;
	padding: 0 20px;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.social__list-item {
	padding-right: 20px;
}

.social__list-item:last-child {
	padding-right: 0;
}

.header__content {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: space-between;
	padding-bottom: 200px;
}

.header__content--info {
	flex: 1 1 auto;
	max-width: 600px;
	padding-top: 30px;
}

.header__content--pretitle {
	font-family: "Roboto", sans-serif;
	font-size: calc(16px + 8 * (100vw / 936));
	line-height: 28px;
	color: #FFBB01;
	padding-bottom: 14px;
}

.header__content-title {
	font-weight: 700;
	font-size: calc(24px + 26 * (100vw / 936));
	line-height: 58.59px;
	padding-bottom: 20px;
}

.header__content--text {
	max-width: 420px;
	padding-bottom: 38px;
	line-height: 28px;
	font-size: calc(14px + 2 * (100vw / 936));
}

.btn {
	display: block;
	font-size: 12px;
	line-height: 14px;
	color: #2E2E30;
	font-family: "Roboto";
	font-weight: 700;
	background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
	box-shadow: 0px 4px 0px #B68500;
	border-radius: 5px 5px 10px 10px;
}

.header__btn {
	max-width: 155px;
	padding: 24px 42px;
}

.header__content--img {
	width: 45%;
}

.header__content--img img{
	max-width: 100%;
	border: 5px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.description {
	background: #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding-top: 60px;
}

.title {
	font-family: "Roboto";
	font-weight: 700;
	font-size: calc(19px + 17 * (100vw / 936));
	line-height: 42px;
}

.description__title {
	margin-bottom: 84px;
}

.description__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 -8px 0 0;
	padding-bottom: 85px;
}

.description__list--item {
	max-width: 300px;
	padding-bottom: 63px;
	padding-right: 8px;
}

.description__list--item:last-child {
	padding-right: 0;
}

.description__link {
	display: block;
	padding-bottom: 22px;
}

.pretitle {
	font-family: "Roboto";
	font-weight: 700;
	/* font-size: 24px; */
	font-size: calc(18px + 6 * (100vw / 936));
	line-height: 28px;
}

.description__pretitle {
	padding-bottom: 16px;
}

.projects {
	background: #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding-top: 85px;
	padding-bottom: 85px;
}

.projects__title {
	padding-bottom: 84px;
}

.slider__item {
	display: flex;
}

.slider__item-img {
	min-width: 250px;
	width: 100%;
	padding-right: 62px;
	padding-bottom: 40px;
}

.pregects_img {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.projects_title {
	margin-bottom: 42px;
}

.slider__elements {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.slider__elements-item1 {
	background: url('/images/time-icon.png') 0 7px no-repeat;
	padding-left: 40px;
	padding-right: 64px;
	padding-bottom: 34px;
}

.slider__elements-item2 {
	background: url('/images/Group-icon.png') 0 7px no-repeat;
	padding-left: 40px;
	padding-bottom: 33px;
}

.slider__elements-item3 {
	background: url('/images/feedback-icon.png') 0 7px no-repeat;
	padding-left: 40px;
	padding-bottom: 20px;
}

.owl-dots {
	text-align: center;
}

.owl-dot span{
	display: block;
	width: 8px;
	height: 8px;
	border: 1px solid #FFBB01;
	margin-right: 5px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.owl-dot.active span{
	background: #FFBB01;
}

.dop_info {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}
.desc {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}

.footer{
	background: #000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding-bottom: 100px;
}

.footer__title {
	padding-bottom: 84px;
}

.footer_pretitle {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #000;
	text-align: center;
	padding-bottom: 29px;
}
.footer__wrap {
	display: flex;
	flex-wrap: wrap;
}

.footer__forma {
	display: block;
	width: 40%;
	background-color: #fff;
	padding: 40px;
	box-shadow: -5px 5px 0px #FFC41D;
	border-radius: 5px;
	min-width: 200px;
}

.footer__forma-name {
	background-image: url('/images/user-icon.png');
}

.inputFooter {
	background-color: #F8F8F8;
	background-repeat: no-repeat;
	box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	display: inline-block;
	width: 100%;
	padding: 17px 0 17px 17px;
	margin-bottom: 17px;
}

.footer__forma-phone {
	background-image: url('/images/phone-icon.png');
}

.footer__btn {
	width: 100%;
	margin-top: auto;
	padding: 25px;
	text-align: center;
}

.footer__content {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin-left: 50px;
}

.footer__nav{
	display: flex;
	flex-wrap: inherit;
	list-style: none;
	padding-bottom: 25px;
}

.footer__info-items {
	margin-right: 20px;
}

.footer__info-items:last-child{
	margin-right: 0;
	margin: 0 -20px 0 0;
}

.footer_info {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
}

.footer__social-links {
	padding-bottom: 30px;
}
.footer__links {
	padding-right: 15px;
}

.footer__confid {
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	font-weight: 400;
}

.dop_info-link {
	padding-right: 10px;
}

@media (max-width: 872px){
	.header__content{
		flex-wrap: wrap-reverse;
		justify-content: center;
		text-align: center;
		line-height: 32px;
		padding-bottom: 100px;
	}
	.header__btn {
		margin:  0 auto;
	}
	.header__content--text {
		max-width: none;
	}
		.description{
		padding-top: 0;
	}
	.description__title {
		text-align: center;
	}
	.projects{
		padding-top: 0;
	}
}

@media (max-width: 872px) {
	.footer__forma {
		margin-bottom: 30px;
	}
}

@media (max-width: 780px) {
	.slider__item {
		flex-wrap: wrap;
		padding: 14px 10px;
	}
	.dop_info {
		font-size: 14px;
		line-height: 16px;
	}
	.slider__item-img{
		flex: 0 1 338px;
		width: 250px;
	}
	.projects__title{
		text-align: center;
		padding-bottom: 40px;
	}
	.description__list {
		padding-bottom: 25px;
	}
	.footer__nav {
		flex-direction: column;
	}
	.footer__info-items {
		margin-bottom: 20px;
	}
	.footer_pretitle {
		font-size: 14px;
		line-height: 18px;
	}
}
